apiVersion: v1
kind: Service
metadata:
  name: demo-app-service
  namespace: demo-apps
  labels:
    app: demo-app
spec:
  type: NodePort
  selector:
    app: demo-app
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    nodePort: 30080
